body {
    color: rgb(252, 185, 97);
    font-family: monospace;
}
a {
    color: aqua;
    text-decoration: none;
}
.background {
    background-image: url("bg.jpg");
    background-attachment: fixed;
}
.main-div {
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.base {
    width: 80%;
    margin: auto;
}
.header {
    overflow: hidden;
    background-color: rgba(0, 0, 34, 0.7);
    padding: 20px 10px;
    backdrop-filter: blur(15px);
    z-index: 100;
    font-size: 18px;
  }
.header a {
    color: rgb(0, 201, 201);
    padding-right: 5px;
    transition: 0.25s;
}
.header-center {
    display: inline-flex;
}
.header-right {
    float: right;
    padding-right: 30px;
}
.header a:hover {
    color: rgb(0, 92, 92);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.post {
    padding: none;
    margin: none;
    background-color: rgba(0, 34, 39, 0.479);
    border-style: solid;
    margin-bottom: 40px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(54, 54, 54);
    transition: 0.5s;
    backdrop-filter: blur(15px);
}
.comments {
    padding: none;
    margin: none;
    background-color: rgba(0, 34, 39, 0.479);
    border-style: solid;
    margin-bottom: 40px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(54, 54, 54);
    transition: 0.5s;
    backdrop-filter: blur(15px);
}
.comment-form {
    border: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    color: rgb(252, 185, 97);
    resize: none;
    border-style: none;
}
.comment-form:focus {
    border: none;
    outline: none;
}

.post:hover {
    border-color: rgba(0, 255, 255, 0.473);
    background-color: rgba(0, 34, 39, 0.8);
    backdrop-filter: blur(25px);
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.post-title {
    width: 99%;
    display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px;
    padding-left: 10px;
    border-bottom: 0px;
    border-top-left-radius: 6px;
    backdrop-filter: blur(15px);
}
.page-bar {
    width: 50%;
    display: inline-flex;
    background-color: rgba(0, 29, 34, 0.781);
    flex-flow: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px;
    padding-left: 10px;
    border-radius: 6px;
    backdrop-filter: blur(15px);
}
.page-bar a {
    color: rgb(252, 185, 97);
    transition: 0.5s;
}
.page-bar a:hover {
    color: rgb(0, 175, 175);
}
.page-bar a {
    color: rgb(252, 185, 97);
    transition: 0.5s;
}
.post-title a:hover {
    color: rgb(0, 175, 175);
}
.post-delete {
    color: rgb(65, 1, 1);
    transition: 0.25s;
}
.post-delete:hover {
    color: rgb(122, 0, 0);
}
.post-title h3 {
    margin: 0px;
}
.post-title-right {
    display: inline;
    padding-right:0px;
    margin-right: 20px;
}
.post-title-right form {
    display: inline;
}
.post-title-right a {
    display: inline;
}
.post-title-right span {
    display: inline;
    padding-left: 2px;
    padding-right: 10px;
}
.post-title-head {
}
.like-button-no {
    border: none;
    color: rgb(252, 185, 97);
    background-color: rgba(255, 255, 255, 0);
    padding: none;
    margin: none;
    transition: 0.5s;
}
.like-button-yes {
    border: none;
    color: red;
    background-color: rgba(255, 255, 255, 0);
    padding: none;
    margin: none;
    transition: 0.5s;
}
.like-button-no:hover {
    color: red;
}
.username {
    color: aqua;
}
.username a {
    color: aqua;
}
.postbody{
    background-color: rgba(0, 0, 34, 0.4);
    margin-top: none;
    padding: 5px;
    line-height: 1.2;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-color: black;
    border-top: solid;
    border-color: rgb(54, 54, 54);
    border-width: 1px;
}

.post-detail {
    background-color: rgba(0, 0, 34, 0.4);
    margin-top: none;
    padding: 5px;
    line-height: 1.2;
    border-top: solid;
    border-color: rgb(54, 54, 54);
    border-width: 1px;
}
.post-detail a {
    color: aqua;
}
.neofetch {
    height: auto;
    border: solid;
    border-color: green;
    border-width: 1px;
    padding: 15px;
}

.logo {
}
.logo img {
    max-width: 150px;
    max-height: 150px;
    float: left;
    margin-right: 40px;
    padding: 5px;
}
.info {
    width: auto;
    height: auto;
    padding: 5px
}
.postlines {
    margin-top: 20px;
    position: relative;
    clear: both;
    padding: 5px;
}
.post-content {
    text-align: left;
    display: inline;
}
.footer {
    color: rgba(0, 0, 34, 0.308);
    padding: 15px;
    margin-top: 30;
    align-content: center;
    margin-bottom: 0px;
}
.post-button {
    background-color: darkcyan;
    color: white;
    border: none;
    height: 36px;
    width: 80px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.3s;
}
.post-button:hover {
    background-color: rgb(252, 185, 97);
}
/*
.sub-button {
    background-color: rgb(245, 78, 78);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    transition: opacity 0.2s;
}
.sub-button:hover {
    opacity: 0.8;
}
.sub-button:active {
    opacity: 0.4; 
}
.join-button {
    background-color: white;
    border-width: 1px;
    border-color: blue;
    border-radius: 3px;
    color: blue;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, opacity 0.2s;
}
.join-button:hover {
    color: white;
    background-color: blue;
    border: none;
}
.join-button:active {
    opacity: 0.7
}

*/