{% extends "blog/base.html" %}
{% block content %}
<div class="post">
    <div class="post-title">
        <div class="post-title-head">
            <h3>{{ post.title }} </h3>
        </div>
        <div class="post-title-right">
            {% if user.is_authenticated %}
            {% if liked %}
            <form action="{% url 'like-post' post.pk %}" method="POST"> {% csrf_token %} <button class="like-button-yes"
                    type="submit" name="post_id" value="{{ post.id }}">&#60;3</button></form>
            {% else %}
            <form action="{% url 'like-post' post.pk %}" method="POST"> {% csrf_token %} <button class="like-button-no"
                    type="submit" name="post_id" value="{{ post.id }}">&#60;3</button></form>
            {% endif %}
            {% else %}
            <a class="like-button-no" href="{% url 'login' %}">&#60;3</a>
            {% endif %}
            :{{ object.total_likes }}
            {% if object.author == user %}
            <a href="{% url 'post-update' post.id %}">Edit</a> 
            <a class="post-delete" href="{% url 'post-delete' object.id %}">Delete</a>
            {% endif %}
        </div>

    </div>
    <div class="post-detail">

        <div name="neofetch">
            <div class="logo">
                <img src="{{ post.author.profile.image.url }}" alt="">
            </div>
            <div class="info">
                Date posted: {{ post.date_posted }} <br>
                Problem: {{ post.problem }} <br>

                What does it do?: {{ post.use }} <br>

            </div>
        </div>
        <div class="postlines">
            <span class="username"><a href="{% url 'user-posts' post.author %}">{{ post.author }}@castle-murray.com</a>[~/{{ post.context}}] # </span>
            <pre class="post-content">{{ post.content }}</pre>
        </div>
        <div>
            {% for comment in post.comments.all %}
            <span class="username">{{ comment.user }}@castle-murray.com[~/{{ post.context}}] # </span>
            <pre class="post-content">{{ comment.content }}</pre>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
<div class="post">
    <div class="post-title">
        <div class="post-title-head">
            <h3>Add a comment</h3>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="post-detail">
        <div class="comment-form">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <div>
                    <button class="post-button" type="submit">Post</button>
                </div>
                {%else %}
                <div class="post-detail">
                    <a href="{% url 'login' %} ">Login to comment.</a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock content %}